body {
  background-color: #22272e;
}

h1 {
  color: #adbac7;
  border-color: #373e47;
}

h2 {
  color: #adbac7;
}

h3 {
  color: #adbac7;
}

p {
  color: #adbac7;
}

ul {
  color: #adbac7;
}

hr {
  color: #444c56;
}

.highlight {
  background-color: #2d333b;
}

.c1 {
  color: #76828e;
}

.k {
  color: #ca6468;
  }

.kt {
  color: #ca6468;
}

.nf {
  color: #bea8e0;
}

.p {
  color: #9ebac7;
}

.m {
  color: #4c93ef;
}
.mi {
  color: #609af8;
}

.o {
  color: #a9b4bf;
}

.s {
  color: #85b6de;
}

.nb {
  color: #5e9ad4;
}

.n {
  color: #bea8e0;
}
